@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.column{
    padding: 48px 0;
}

.row{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    font-size: 45px;
    color:white;
}

.nav__list--link-underline{
    font-size: 18px;
    color: #242424;
    position: relative;
}

.nav__list--link-underline::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color:white;
    transition: width 300ms ease;
}

.nav__list--link-underline:hover::after{
    width:100%;
}

.button{
    font-size: 16px;
    padding: 12px 48px;
    border-radius: 24px;
    transition: all 200ms ease;
}

.button:hover{
    cursor: pointer;
    transform: scale(0.95);
}



/* NAV */

#nav{
    background: url('assets/movie_theater.jpg') no-repeat;
    background-size: cover;
}

.nav__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.nav__logo--title{
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.nav__img{
    background-color: white;
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__light{
  font-size: 40px;
    font-weight: 600;
    color: #242424;
}

.nav__logo--image-wrapper{
    margin-right: 8px;
}

.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__list{
    margin-left: 32px;
}

.nav__list--link{
    text-decoration: none;
    color:white;
}

.nav__bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav__title{
    margin-bottom: 40px;
}

.nav__input{
    width: 100%;
    max-width: 550px;
    font-size: 20px;
    padding: 12px 0 12px 20px;
    border-radius: 24px;
    border: none;
}

.nav__input:focus{
    outline:none;
}


.nav__input--wrapper{
    position: relative;
    width: 100%;
    max-width: 500px;
}


.nav__search--wrapper{
    position: absolute;
    top: 0;
    right:0;
    font-size: 30px;
    padding: 6px 12px 12px 0;
}

.nav__button:hover{
    background-color: #ff328f;
    color:white;
}

.button.nav__button--light{
  background-color: #ff328f;
  color:white;
  border:none;
}

.nav__search--logo{
    transition: all 300ms ease;
}

.nav__search--logo:hover{
    color: #ff328f;
    cursor: pointer;
}


/* MAIN */

h2{
    font-size: 28px;
}

.movies{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movies__top--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    border-radius: 4px;
    border:1px solid #dcdfe6;
    color: #606266;
    height:40px;
    padding: 0 16px;
    outline:none;
    width:100%;
    max-width: 200px;
}

.movie{
    width: 30%;
    margin-bottom: 24px;
    border:2px solid lightgrey;
    border-radius: 12px;
    overflow: hidden;
}

.movie__img{
    width:100%;
    height:100%;
}

.movie__title{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.movie__type{
    margin-bottom: 8px;
}

.movie__title,
.movie__type,
.movie__year{
    letter-spacing: 1.8px;
}

.movie__type,
.movie__year{
    font-size: 18px;
    color: rgb(134, 133, 133);
}

.movie__bottom{
    padding: 16px 12px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.movies__loading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #ff328f;
    padding-top: 40px;
}

.movies__loading--spinner{
    display: none !important;
}

.movies__loading .movies__loading--spinner{
    display: block !important ;
}

.fa-spinner{
    animation: rotate 400ms infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.movie__top{
    position: relative;
    height:70%;
    width:100%;
}

.movie__top:hover .movie__slide--wrapper{
    opacity: 0.7;
    cursor: pointer;
    width:100%;
    height:100%;
}

.movie__slide--wrapper{
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height:0%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;

}

/* .movie__slide--wrapper::after{
    content: "";
    position: absolute;
    left:0;
    width: 0%;
    height: 100%;
    
    background-color: #1c1d25;
    transition: width 300ms ease;
}

.movie__slide--wrapper:hover::after{
    width:100%;
    opacity:0.7;
} */

.movie__top:hover .movie__slide{
    opacity: 1;
    transform:translateY(-50%);
}
.movie__slide {
    position: absolute;
   top:50%;
   opacity: 0;
   transform:translateY(100%);
   left: 75px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: opacity 300ms, transform 450ms ease; 
}



.search__specific{
    color:#ff328f;
}


/* HOME PAGE */

.home__title{
  font-size:50px;
}

.input{
  width: 100%;
    max-width: 550px;
    font-size: 20px;
    padding: 12px 0 12px 20px;
    border-radius: 24px;
    margin-right:16px;
    border:#606266 1px solid;
}

.home__title--wrapper{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 40px;
}

.search__wrapper{
  margin-top:60px;
}

.search__logo{
  font-size: 24px;
}